extends layout

block content
	link(href='/stylesheets/style.css', rel='stylesheet', type='text/css', media='all')
	h1= title
	p Welcome to #{title} change permission!
	br
	form#fileUpload(method="post" action="/updatepermission" enctype="multipart/form-data")
		input(type='hidden', name='filename', value=file)
		label(for="docType") File scope:
		br
		input#Element1(type="radio", name="scope", value="Private", checked=false)
		|Private
		br
		input#Element2(type="radio", name="scope", value="Public", checked=false)
		|Public
		
		br
		button#update Update